.content {
      display: flex;
      justify-content: center; /* Центрируем картинку по горизонтали */
      align-items: center; /* Центрируем картинку по вертикали */
      padding: 60px 0; /* Добавляем отступы сверху и снизу */
    }
    
    .background-image {
      width: 80%; /* Уменьшаем ширину картинки до 80% от доступной ширины */
      max-width: 1500px; /* Ограничиваем максимальную ширину картинки */
      height: auto; /* Сохраняем пропорции изображения */
    }
   