.header {
      background-image: url('/images/main.png');
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }
    
    .nav {
      display: flex;
      gap: 40px; 
      justify-content: center; 
      align-items: center;
    }
    
    .nav-item {
      font-size: 18px;
      color: white;
      text-transform: uppercase; 
      text-decoration: none; 
      font-weight: 500;
      padding: 8px 20px; 
      border-radius: 50px; 
     
    }
    
    .nav-item:hover {
      border: 2px solid white;
      color: white; 
    }